*{
	box-sizing: border-box;
	font-family: 'Roboto',sans-serif;
}
body{
	background: black;
}
.container{
	width: 300px;
	margin: auto;
}
.calculator{
	width: 275px;
	margin: auto;
	min-height: 400px;
	border: solid 1px #3a4655;
	box-shadow: 0 8px 50px -1px black;
}
#display{
	background: white;
	width: 100%;
	height: 75px;
	padding: 55px;
	font-size: 50px;
}
.calc-operation{
	text-align: right;
	color: #727b86;
	font-size: 21px;
	padding-bottom: 10px;
	border-bottom: dotted 1px;
}
.button{
	width: 25%;
	background: #425062;
	color: #fff;
	padding: 20px;
	display: inline-block;
	font-size: 25px;
	text-align: center;
	vertical-align: middle;
	margin-right: -4px;
	border-right: solid 2px #3c4857;
	border-bottom: solid 2px #3c4857;
	transition: all 0.2s ease-in-out;
}
.mathButtons{
	color: #aeb3ba;
	background: #404d5e;
}
.button:hover{
	background: pink;
}